# Framework
flask
flask-cache
flask-login
flask-principal
flask-restful
flask-sqlalchemy

click
webargs
fabric
jsonpickle

# Test
pytest
pytest-mock

# Debug
IPython
requests

# Tool
PyYaml
toolkit
lice

# Database
redis
pymongo
sqlalchemy

# Runtime
gevent
gunicorn
